.brole{
    
    display: block;
    margin: auto;
    text-align: center;

    
}
.form{
    
    background-color:#cb4154;
    box-shadow: 1px 2px 2px rgb(1, 29, 12);
}
.btns{
    background-color: #f2f7c7;
    color: #072a26;
    border-radius: 10%;
}
.btns:hover{
    background-color: #f2c29b;
    color:#512825;
    border-radius: 10%;
    box-shadow: 1px 2px 2px black;
}
.box{
    color: rgb(252, 249, 251);
    background-color:#cb4154;
}
h1{
    color:rgb(42, 13, 81);
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
    background-image: url('https://img.freepik.com/premium-vector/vector-pink-star-shape-blue-background-perfect-wallpaper-backdrop-postcard-background_921039-4008.jpg');;
}
.main{
    padding-bottom: 40px;
    background-image: url('https://img.freepik.com/premium-vector/vector-pink-star-shape-blue-background-perfect-wallpaper-backdrop-postcard-background_921039-4008.jpg');
}
